*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Afacad Flux, sans-serif;
}

:root{
  --black: #000000;
  --white: #ffffff;
  --primary-color: #daa520;
}

.layoutHeader{
  width: 100%;
  height: 4.5rem;
  background-color: #000000;
  box-shadow: 0px 3px 5px rgba(41, 41, 41, 0.322);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.headerTitle{
  font-size: 1.8rem;
  font-family: Cinzel, serif;
  color: var(--primary-color);
}
.headerNavbar{
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerNavbar ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
}
.headerNavbar ul li a{
  font-size: 1.05rem;
  color: var(--black);
  position: relative;
}
.headerNavbar ul li a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: #000;
  transition: .3s;
}
.headerNavbar ul li a:hover::before{
  width: 100%;
}
.container{
  width: 100%;
  height: 100vh;
  position: relative;
}

.layoutFooter{
  position: relative;
  width: 100%;
  height: 3.5rem;
  box-shadow: 0px -3px 5px rgba(41, 41, 41, 0.322);
}