@{
    ViewData[index: "Title"] = "Menu";

}

<section class="section">

    <div class="menu-container">
        <div class="menu-day">
            <button class="day-select">Segunda-Feira</button>
            <button class="day-select">Terça-Feira</button>
            <button class="day-select">Quarta-Feira</button>
            <button class="day-select">Quinta-Feira</button>
            <button class="day-select">Sexta-Feira</button>
            <button class="day-select">Sábado</button>
            <button class="day-select">Domingo</button>
        </div>

        <section class="menu-sheet">

            <div class="meal-card">

                <div class="meal-head">
                    <img src="" alt="Imagem-Prato">
                    <h3>Titulo Prato</h3>
                    <h4>Preço</h4>
                </div>

            </div>

            <div class="meal-card">

                <div class="meal-head">
                    <img src="" alt="Imagem-Prato">
                    <h3>Titulo Prato</h3>
                    <h4>Preço</h4>
                </div>

            </div>

            <div class="meal-card">

                <div class="meal-head">
                    <img src="" alt="Imagem-Prato">
                    <h3>Titulo Prato</h3>
                    <h4>Preço</h4>
                </div>

            </div>

                        <div class="meal-card">

                <div class="meal-head">
                    <img src="" alt="Imagem-Prato">
                    <h3>Titulo Prato</h3>
                    <h4>Preço</h4>
                </div>

            </div>

            <div class="meal-card">

                <div class="meal-head">
                    <img src="" alt="Imagem-Prato">
                    <h3>Titulo Prato</h3>
                    <h4>Preço</h4>
                </div>

            </div>

            <div class="meal-card">

                <div class="meal-head">
                    <img src="" alt="Imagem-Prato">
                    <h3>Titulo Prato</h3>
                    <h4>Preço</h4>
                </div>

            </div>

            <div class="meal-card">

                <div class="meal-head">
                    <img src="" alt="Imagem-Prato">
                    <h3>Titulo Prato</h3>
                    <h4>Preço</h4>
                </div>

            </div>
        </section>
    </div>

</section>

@section styles{
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/Layout.css">
}