@{
    ViewData["Title"] = "Home";
   
}

<section class="carousel">
    <partial name="_Carousel" />
</section>
<section class="section intro-section">

    <div class="intro-content">
        <article>
            <h2>Experimente</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, minus officia suscipit accusamus omnis amet odit consectetur nam debitis perferendis nobis. Sit nam accusamus repudiandae odio velit quia maiores. Eveniet?</p>
        </article>

        <button>
            Conferir
        </button>
    </div>

    <div class="intro-images">

        <img src="~/Images/cartas-1.webp" class="cartaz-image" alt="Cartaz-1">
        <img src="~/Images/cartas-2.webp" class="cartaz-image" alt="Cartaz-2">
        <img src="~/Images/cartas-3.webp" class="cartaz-image" alt="Cartaz-3">
    </div>
</section>

<section class="section hours-section">

    <article class="hour-sheet">
        <div class="sheet-column">
            <h2 class="hour-title">Dias</h2>
            <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                <p>Segunda à Sexta-Feira</p>
                <p>Sábado e Domingo</p>
                <p>Feriados</p>
            </div>
        </div>

        <div class="divisor-bar"></div>

        <div class="sheet-column">
            <h2 class="hour-title">Horários</h2>
            <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                <p>09:00 - 18:00</p>
                <p>11:30 - 18:00</p>
                <p>Não Funcionamos</p>
            </div>
        </div>
    </article>
</section>

@section styles{
    <link rel="stylesheet" href="~/css/home.css" />
}