@{
    ViewData["Title"] = "Home";
   
}

<section class="carousel">
    <partial name="_Carousel" />
</section>
<section class="section intro-section">

    <div class="intro-content">
        <article>
            <h2>Experimente</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, minus officia suscipit accusamus omnis amet odit consectetur nam debitis perferendis nobis. Sit nam accusamus repudiandae odio velit quia maiores. Eveniet?</p>
        </article>

        <button>
            Conferir
        </button>
    </div>

    <div class="intro-images">

        <img src="~/Images/cartas-1.webp" class="cartaz-image" alt="Cartaz-1">
        <img src="~/Images/cartas-2.webp" class="cartaz-image" alt="Cartaz-2">
        <img src="~/Images/cartas-3.webp" class="cartaz-image" alt="Cartaz-3">
    </div>
</section>

@section styles{
    <link rel="stylesheet" href="~/css/home.css" />
}