.carousel{
    width: 100%;
    height: 90vh;
    background-color: #c7c7c7;
    position: relative;
    overflow: hidden;
}
.carousel-item{
    width: 100%;
    height: 100%;
    position: relative;
}
.carousel-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000069;
}
.button-icon{
    width: 3rem;
    height: 3rem;
    color: #f0b112;
}
.carousel-indicators .indicators{
    background-color: #f0b112;
}
.carousel-images{
    height: 100%;
    object-fit: cover;
}

.section{
  width: 100%;
  height: 100vh;
  position: relative;
}

.intro-section{
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}
.intro-content{
    width: 90%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1.5rem;
    color: white;
    gap: 35%;
}
.intro-content h2{
    color: #f0b112;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: Cinzel, serif;
}
.intro-content p{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: justify;
}
.intro-content button{
    width: 50%;
    height: 2.5rem;
    border: 1px solid #f0b112;
    border-radius: 2px;
    position: relative;
    color: white;
    background-color: transparent;
    z-index: 2;
    font-size: 1.25rem;
    font-weight: 400;
}
.intro-content button:hover{
    color: #000;
}
.intro-content button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f0b112;
    left: 0;
    top: 0%;
    transition: all .3s;
    transform: scalex(0%);
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    z-index: -1;
}
.intro-content button:hover::after{
    transform: scalex(1);
}
.intro-images{
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartaz-image{
    width: 1rem;
    height: 1rem;
    object-fit: cover;
    position: absolute;
    filter: drop-shadow(1px 2px 8px #0000008f);
}
.cartaz-image:nth-child(1){
    width: 35%;
    height: 45%;
    left: 10%;
    z-index: 1;
}
.cartaz-image:nth-child(2){
    width: 40%;
    height: 40%;
    top: 20%;
    right: 20%;
}
.cartaz-image:nth-child(3){
    width: 50%;
    height: 30%;
    left: 20%;
    bottom: 15%;
}

.hours-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/banner.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    background-attachment: fixed;
}
.hours-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000088;
}

.hour-sheet{
    width: 60%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    position: relative;
    z-index: 1;
    background-color: #000000ab;
    border-radius: 4px;
}
.hour-sheet .divisor-bar{
    width: 1px;
    height: 75%;
    background-color: #ffffffbd;
    z-index: 1;
}

.sheet-column{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}
.sheet-column .hour-title{
    font-size: 2.8rem;
    font-weight: 400;
    color: #f0b112;
}
.sheet-column div p{
    font-size: 1.1rem;
}