@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Anton+SC&family=Audiowide&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=League+Spartan:wght@100..900&family=Orbitron:wght@400..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Afacad Flux, sans-serif;
}

:root{
  --black: #000000;
  --white: #ffffff;
  --primary-color: #daa520;
  --softWhite: #e9e9e9;
}

.layoutHeader{
  width: 100%;
  height: 4rem;
  position: relative;
  background-color: var(--black);
  box-shadow: 0px 3px 5px rgba(41, 41, 41, 0.322);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.headerTitle{
  font-size: 2.3rem;
  font-family: Cinzel, serif;
  color: var(--primary-color);
  margin-top: .7rem;
}

.headerNavbar{
  width: 65%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNavbar ul{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: .8rem;
}

.headerNavbar ul li a{
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--white);
  position: relative;
  text-decoration: none;
}

.headerNavbar ul li a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: #000;
  transition: .3s;
}

.headerNavbar ul li a:hover::before{
  width: 100%;
}

.main-container{
  width: 100%;
  height: fit;
  position: relative;
}

.section{
  width: 100%;
  height: 100vh;
  position: relative;
}

.layoutFooter{
  width: 100%;
  height: 60vh;
  box-shadow: 0px -3px 5px rgba(41, 41, 41, 0.322);
  background-color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-top: 8px solid #f0b112;
}

.footer-info{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #cacaca38;
}

.footer-info h3{
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
}
.footer-info .footer-title{
  font-size: 2.3rem;
  font-family: Cinzel, serif;
  color: var(--primary-color);
  margin-top: .7rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer-info .social{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.footer-info .social img{
  width: 1.5rem;
  height: 1.5rem;
}

.footer-sumary{
  width: 100%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
}

.footer-sumary .sumary-column{
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  place-content: center;
}

.sumary-column ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
  font-weight: 300;
}
.sumary-column ul h4{
  font-size: 1.5rem;
  font-weight: 300;
  color: #f0b112;
}