.section{
    width: 100%;
    height: 150vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-image: url("../Images/banner-2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section::before{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #00000033;
}

.menu-container{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.menu-day{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.day-select{
    width: 12%;
    height: 70%;
    border: none;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    transition: .3s;
    padding: 10px;
}

.day-select:hover, .day-select::selection{
    margin-bottom: 1rem;
    background-color: var(--primary-color);
}

.menu-sheet{
    width: 100%;
    height: 100%;
    background-color: #000000c6;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: wrap;
    gap: 20px;
}

.meal-card{
    width: 20%;
    height: 45%;
    background-color: #daa520;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
}

.meal-card img{
    width: 80%;
    height: 70%;
    background-color: #000;
    border-radius: 4px;
}

.meal-card .card-desc{
    width: 80%;
    height: 25%;
}