.person-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    background-color: #f3f3f3;
}

.banner{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.banner::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000060;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-panel{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.person-intro{
    width: 100%;
    height: 30%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgba(41, 41, 41, 0.322);
    padding: 1rem;
}

.person-intro article{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.edit-button{
    width: 100%;
}

.edit-button button{
    width: 50%;
    height: 2.25rem;
    border: none;
    background-color: #f0b112;
    border-radius: 2px;
}

.person-data{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgba(41, 41, 41, 0.322);
    padding: 1rem;
    background-color: #fff;
}

.data-field{
    width: 40%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.data-field label{
    font-size: 1.25rem;
    font-weight: 400;
}
.data-field input{
    width: 100%;
    height: 2.25rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #00000060;
    border-radius: 4px;
}
.data-field input:focus{
    outline: none;
}
.data-field button{
    width: 100%;
    height: 2.25rem;
    border: none;
    background-color: #f0b112;
    border-radius: 2px;
}