.person-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #f3f3f3;
}

.person-intro{
    width: 50%;
    height: 30%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgba(41, 41, 41, 0.322);
    padding: 1rem;
}

.person-data{
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1rem;
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgba(41, 41, 41, 0.322);
    padding: 1rem;
    background-color: #fff;
}

.data-field{
    width: 40%;
    height: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.data-field label{
    font-size: 1.25rem;
    font-weight: 400;
}
.data-field input{
    width: 100%;
    height: 2.25rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #00000060;
    border-radius: 4px;
}
.data-field input:focus{
    outline: none;
}
.edit-button button{
    width: 50%;
    height: 2.25rem;
    border: none;
    background-color: #f0b112;
    border-radius: 2px;
}