.sigin-container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/banner.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.banner-container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000088;
}

.form-container{
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #ffffff;
    box-shadow: 3px 0px 8px #000000b7;
    padding-top: 1.5rem;
    overflow: hidden;
}

.form-inactive{
    display: none;
}
.form-active{
    display: flex;
}

.form-cadastro,
.form-login{
    width: 80%;
    height: auto;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.8rem;
    position: absolute;
}

.form-group{
    width: 100%;
}

.form-texts{
    width: 100%;
}

.form-texts h2{
    font-size: 2.5rem;
    font-weight: 400;
}

.form-texts p{
    font-size: 1.1rem;
    line-height: 1rem;
}

.form-button{
    width: 100%;
    height: 2.5rem;
    border: none;
    background-color: #f0b112;
    border-radius: 2px;
}

.form-button:hover{
    filter: brightness(110%);
}

.toggle-button{
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;
    position: absolute;
    bottom: 2%;
    left: 10%;
}

.toggle-button:hover{
    color: #f0b112;
}

.layoutFooter{
    display: none;
}